<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main-admin</title>
    <link rel="stylesheet" href="main-page-admin.component.css">
</head>
<body>
    <div class="container">
        
        <div class="logo-container">
            <h1>logo</h1>
        </div> <!--logo-container-->

        <div class="buttons-container">
            <a href="/stock-first"><button class="btn">estoque</button></a>
            <a href="/stock-second"><button class="btn">despensa</button></a>
            <a href="/insert-first"><button class="btn">salgado</button></a>
            <a href="/insert-second"><button class="btn">mercadoria</button></a>
            
        </div> <!--buttons-container-->
    
    </div> <!--container-->
</body>
</html>